<!DOCTYPE html>
<html lang="en">
<head>
    <title>Browse Books</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_list.css' %}">
</head>

<body>
<div class="container">
    <h1>Browse Books</h1>
    <div class="filter-options">
        <form method="get">
            <input type="text" name="search" placeholder="Search by title or author" value="{{ search_query }}">
            <select name="sort_by">
                <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Sort by Title</option>
                <option value="totalratings" {% if sort_by == 'totalratings' %}selected{% endif %}>Sort by Total
                    Ratings
                </option>
                <option value="rating" {% if sort_by == 'rating' %}selected{% endif %}>Sort by Rating</option>
            </select>
            <button type="submit">Apply</button>
        </form>
    </div>
    <div class="book-list">
        <table>
            <thead>
            <tr>
                <th>Cover</th>
                <th>Title & Author</th>
                <th>Genres</th>
                <th>Rating</th>
                <th>Total Ratings</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{% url 'book_detail' book.id %}"><img src="{{ book.img }}" alt="{{ book.title }} cover"
                                                                       style="width: 100px;"></a></td>
                    <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a><br>{{ book.author }}</td>
                    <td>
                        <div class="genre">{{ book.genre|linebreaksbr }}</div>
                    </td>
                    <td>{{ book.rating|floatformat:2 }}</td>
                    <td>{{ book.totalratings }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
