<!DOCTYPE html>
<html>
<head>
    <title>Delete Account</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Are you sure you want to delete your account?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="delete-button">Yes, delete my account</button>
            <a href="{% url 'account_settings' %}" class="button">No, go back</a>
        </form>
    </div>
</body>
</html>
