{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Login/Register</h1>
        <div class="form-container">
            <div class="form-left">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit" name="login">Login</button>
                </form>
            </div>
            <div class="form-right">
                <h2>Register</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ registration_form.as_p }}
                    <button type="submit" name="register">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
